body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.descripcion img {
    margin-top: 10px;
    border-radius: 8px;
    max-width: 100%;
}

.musica {
    margin-top: 40px;
}

.musica ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
